---
import { themeConfig } from '~/.config'
import type { Post } from '~/types'
import Giscus from '~/components/comments/Giscus.astro'

interface Props {
  post: Post
}

const { id, data } = Astro.props.post

const path = `/posts/${id}`
const url = `${Astro.site?.href}${path}`

const provider = getProvider()

function getProvider() {
  const result = Object.keys(themeConfig.comment)[0]
  return result || ''
}
---

{
  provider !== '' && (
    <div py-16>
      {provider === 'giscus' && <Giscus />}
    </div>
  )
}
